<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

  {{> sidenav }}
  
  
  <!-- Main content -->
  <div class="main-content" id="panel">

    {{> navbar }}
    
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>   
    
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Capture</h5>
                  <span class="h2 font-weight-bold mb-0">1200 </span><i class="ni ni-single-02 text-primary"></i>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                    <i class="fa fa-camera"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Normal</h5>
                  <span class="h2 font-weight-bold mb-0">600 </span><i class="ni ni-single-02 text-primary"></i>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                    <i class="fa fa-thermometer-empty"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Low Fever</h5>
                  <span class="h2 font-weight-bold mb-0">400 </span><i class="ni ni-single-02 text-primary"></i>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                    <i class="fa fa-thermometer-half"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">High Fever</h5>
                  <span class="h2 font-weight-bold mb-0">300 </span><i class="ni ni-single-02 text-primary"></i>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                    <i class="fa fa-thermometer-full"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-7 col-md-7">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                  <h5 class="h3 text-white mb-0">Realtime Temperature Status</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart" style="height: auto;">
                <!-- Chart wrapper -->
                <canvas id="myChart-energy"></canvas> 
              </div>
            </div>
          </div>
        </div>


        {{!-- All Assets --}}
        <div class="col-xl-5 col-md-5">
          <div class="card card-stats">
            <div class="card-header mb--4   ">
                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                <h5 class="h3 mb-0">Result Temperature Status</h5>
            </div>
            <!-- Card body -->
            <div class="card-body">
              <div class="row">

                <div class="col-xl-12 col-md-12">
                  <div class="card border-2 mb--1">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row"> 

                        {{!-- donut chart --}}
                        <!-- partial:index.partial.html -->
                        <div id="app">
                            <graph-pie
                                    :width="350"
                                    :height="350"
                                    :padding-top="30"
                                    :padding-right="20"
                                    :padding-bottom="50"
                                    :padding-left="20"
                                    :values="values"
                                    :names="names"
                                    :colors="[ '#6FCF97', '#F2C94C', '#EB5757' ]"
                                    :active-index="[ 0, 2 ]"
                                    :active-event="'click'"
                                    :show-text-type="'outside'"
                                    :data-format="dataFormat"
                                    :shape="'donut'"
                                    :show-total-value="true">
                                <legends :names="names"></legends>
                                <tooltip :names="names"></tooltip>
                            </graph-pie>
                        </div>
                        <!-- partial -->

                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              
            </div>
          </div>
        </div>
        {{!-- End --}}

      </div>
      
      
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center text-lg-left text-muted">
              &copy; 2019 <a href="#" class="font-weight-bold ml-1" target="_blank">Integrated Smart System Platform</a>
            </div>
          </div>
          
        </div>
      </footer>
    </div>
  </div>

  {{> scripts }}

</body>

</html>