<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

  {{> sidenav }}
  
  
  <!-- Main content -->
  <div class="main-content" id="panel">

    {{> navbar }}
    
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Reporting</h6>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>   
    
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        
        {{!-- table --}}
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <h3 class="mb-0">Datatable</h3>
              <p class="text-sm mb-0">
                This is an exmaple of datatable using the well known datatables.net plugin. This is a minimal setup in order to get started fast.
              </p>
            </div>
            
            <div class="table-responsive py-4">
              <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Device</th>
                        <th>Temperature</th>
                        <th>Images</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody></tbody>
                </table>
            </div>
          </div>
        </div>

      </div>
      
      
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center text-lg-left text-muted">
              &copy; 2019 <a href="#" class="font-weight-bold ml-1" target="_blank">Integrated Smart System Platform</a>
            </div>
          </div>
          
        </div>
      </footer>
    </div>
  </div>

  {{> scripts }}

</body>

</html>