<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

  {{> sidenav }}
  
  
  <!-- Main content -->
  <div class="main-content" id="panel">

    {{> navbar }}
    
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Video Analytics</h6>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        {{!-- Safe --}}
        <div class="col-xl-12">
          <div id="warning" class="card-body"></div>
        </div>
        
        <div class="col-xl-6">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Counting</h6>
                  <h5 class="h3 text-white mb-0">Object Detection</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart">
                <canvas id="objectChart" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Overview</h6>
                  <h5 class="h3 mb-0">Video Analytics</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <img src="http://localhost:8070/" id="img" style="width: 100%; height: 100%;">
              </div>
            </div>
          </div>
        </div>

      </div>
      
      
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center text-lg-left text-muted">
              &copy; 2019 <a href="#" class="font-weight-bold ml-1" target="_blank">Integrated Smart System Platform</a>
            </div>
          </div>
          
        </div>
      </footer>
    </div>
  </div>

  {{> scripts }}

</body>

</html>